{% comment %}
    Renders a product card

    Accepts:
    - card_product: {Object} Product Liquid object (optional)
{% endcomment %}



{% if card_product %}
  <article class="product" data-product-id="{{ card_product.id }}">
    <a href="{{ card_product.url }}">
      <div class="product__image-wrapper">
          <img
            src="{{ card_product.featured_media | image_url }}"
            sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
            alt="{{ card_product.featured_media.alt | escape }}"
            class="motion-reduce"
            {% unless lazy_load == false %}loading="lazy"{% endunless %}
            width="{{ card_product.featured_media.width }}"
            height="{{ card_product.featured_media.height }}"
            loading="lazy"
          >
        
      </div>
      <div class="product__content">
        <h1 class="product__name">{{ card_product.title | escape | capitalize }}</h1>
        
        <p class="product__price">{{ card_product.price | money_with_currency }}</p>
        
        {% if card_product.variants != empty %}
          <div id="variant-selector-{{card_product.id}}" class="product__variants">
            {% for variant in card_product.variants %}
              {% if variant.title != "Default Title" %}
                <button type="button" onclick="selectVariant(event)"
                  class="product__variant"
                  onmouseenter="preselectVariant(event)"
                  onmouseleave="deselectVariant(event, {{ card_product.id | escape }}, '{{ card_product.featured_media | image_url }}')"
                  data-variant="{{ variant | json | escape }}"
                  {% unless variant.available %}
                    disabled="true"
                  {% endunless %}> {{ variant.title }}</button>    
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
        
      </div>
      <form action="/cart/add" method="post" id="add-to-cart-{{ card_product.id }}">
        <input type="hidden" name="id" value="{{ card_product.variants.first.id }}">
        <button class="product__add-to-cart" type="button" onclick="event.preventDefault();addToCart({{ card_product.id }}); return false;">
          agregar al carrito
          {% render 'icon-cart' %}
        </button>
      </form> 
        
      
    </a>
  </article>

{% else %}
  <p>Could not render product</p>
{% endif %}
{% comment %} 
srcset="{%- if card_product.featured_media.width >= 165 -%}{{ card_product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
            {%- if card_product.featured_media.width >= 360 -%}{{ card_product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
            {%- if card_product.featured_media.width >= 533 -%}{{ card_product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
            {%- if card_product.featured_media.width >= 720 -%}{{ card_product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
            {%- if card_product.featured_media.width >= 940 -%}{{ card_product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
            {%- if card_product.featured_media.width >= 1066 -%}{{ card_product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
            {{ card_product.featured_media | image_url }} {{ card_product.featured_media.width }}w"
            src="{{ card_product.featured_media | image_url: width: 533 }}" {% endcomment %}