{{ 'mini-cart.css' | asset_url | stylesheet_tag }}
{{ 'mini-cart-loader.css' | asset_url | stylesheet_tag }}



<aside class="mini-cart">
  <div class="mini-cart__header">
    <p>Estos son tus productos</p>
    <button id="empty-cart" onclick="emptyCart()" {% if cart.items.size == 0 %}
      disabled="true"
    {% endif %}>
      Empty cart {% render 'icon-remove' %}
    </button>
    <button type="button" id="close-mini-cart" onclick="closeMiniCart()">
      {% render 'icon-close' %}
    </button>
  </div>
  <ul class="mini-cart__items">
    {% for item in cart.items %}
      <li data-prod-id="{{ item.id }}" class="mini-cart__item">
        <div class="mini-cart__item-picture">
          <img src="{{ item.image | image_url }}"
            alt="{{ item.title }}"
            width="{{ item.featured_image.width }}"
            height="{{ item.featured_image.height }}"
            loading="lazy">
        </div>
        <div class="mini-cart__item-body">
          <p class="mini-cart__item-name">
            <a href="{{ product.url }}">{{ item.title }}</a>
          </p>  
          <p class="mini-cart__item-price">{{ item.price | money_with_currency }}</p>
        </div>

        <div class="mini-cart__item-actions">
          <div class="mini-cart__item-input">
            <button onclick="decrement({{ item.id }}, {{ item.quantity }})">-</button>
            <input type="number" readonly value="{{ item.quantity }}">
            <button onclick="increment({{ item.id }}, {{ item.quantity }})">+</button>
          </div>

          <button class="mini-cart__item-remove" onclick="removeProduct({{ item.id }})">
            {% render 'icon-remove' %}
          </button>
        </div>
      </li>
    {% endfor %}
  </ul>

  <div class="mini-cart__footer">
    <div class="mini-cart__summary">
      <p>Total to pay:</p>
      <p class="mini-cart__price">{{ cart.total_price | money_with_currency }}</p>  
    </div>

    {% if cart.items.size > 0 %}
      <a class="mini-cart__checkout" href="{{ routes.cart_url  }}">
        Go to cart
      </a>  
    {% endif %}
    
  </div>

  <div class="mini-cart__loader">
    <div class="lds-ring">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</aside>


<button id="open-mini-cart" onclick="openMiniCart()">
  {% render 'icon-cart' %}
</button>